@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    background-image: url("https://images.unsplash.com/photo-1436491865332-7a61a109cc05?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1353&q=80");
    background-color: #b2ab8c;
    color: #333;
    font-family: "Futura", Arial, Sans-Serif;
    line-height: 18px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .wrapper {
    background-color: rgba(72, 90, 127, 0.7); 
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
    color: white;
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: #293b5f;
  }

  button {
    color: black;
    background-color: #dbe6fd;
    text-align: center;
    font-size: 18px;
    padding: 4px;
    border-radius: 8px;
    border: 2px solid #b2ab8c;
  }

  h2 {
    border-bottom: 2px solid #dbe6fd;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }

  .main {
    overflow: hidden;
  }

  .content {
    text-align: center;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content {
    float: none;
    width: 100%;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
