<h1>Log In</h1>
<form method="post" action= "/login">
<label for= "email">Email:</label>
<input type= "text" name= "email">
<br><label for= "password">Password:</label>
<input type= "password"  name= "password">
<button type= "submit" value= "Log In">Log In</button>
</form>



