<h1>Sign Up</h1>
<form method= "post" action= "/signup">
<label for= "name">Name:</label>
<input type= "text" name= "name" id= "name">

<br><label for= "email">Email:</label>
<input type= "text" name= "email" id= "email">

<br><label for= "password">Password:</label>
<input type= "password" name= "password" id= "password">

<br><button type= "submit" value= "Sign Up">Create Account</button>

</form>