<h1>Edit Your Entry Here</h1>
<h2><%= @country.name %></h2>
<form method= "post" action= "/countries/<%= @country.id %>">
<input type= "hidden" name= "_method" value= "patch">
<p>Country Name: <input type= "text" name= "country[name]" value= "<%= @country.name%>"></p>
<label>Description:</label>
<textarea name= "country[description]"><%= @country.description%></textarea>
<input type= "submit" value= "Update Entry" id= "submit">
</form>