<h1>All Countries Logged</h1>
<small>You may see certain countries repeated throughout the list, but remember you can only edit or delete your own entries.</small>
<ul>
<% @countries.each do |country| %>
<li><a href= "/countries/<%=country.id%>"><%= country.name %></a></li>
<% end %>
</ul>


