<h1>New Entry</h1>

<form method= "post" action= "/countries">
<p>Name of Country:<input type= "text" name= "name"></p>
<p>Description:<input type= "text" name= "description"></p>
<input type= "submit" value= "Create Entry" id= "submit">
</form>