<h1>New Entry</h1>

<form method= "post" action= "/countries">
<p>Name of Country:<input type= "text" name= "name"></p>
<label>Description:</label>
<textarea name= "description" rows="5" cols="25"></textarea>
<input type= "submit" value= "Create Entry" id= "submit">
</form>


