<div class="container">
  <header><h1>Welcome to Virtual Passport</h1></header>
 
    <div class="content">
      <h3>Please Sign Up or Log In to continue</h3>
      <a href= "/signup"><button>Sign Up</button></a>
      <a href= "/login"><button>Log In</button></a>
    </div>

  </div>
</div>
